#blog .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog article {
    margin: 20px;
}

#blog img {
    width: 100%;
    max-width: 280px;
}

#blog h3 {
    text-align: center;
}